html
	head
		title CMCloud | #{title}
		block scripts
			script(src='/javascripts/jquery.min.js')
		block styles
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block header
			#header
				block primary_nav
					#primary-nav
						ul(class="primary-nav clearfix")
							li(class="first")
								a(href="/") Home
							li
								a(href="/user") Users
							- if (!user)
								li
									a(href="/user/register") Register
								li(class="last")
									a(href="/user/login") Login
							- if (user)
								li
									a(href="/user/logout") Logout
							
		block userStatus
			- if (user)
				#user-status
					span You're logged in as #{user.username}
		block messages
			#messages
				if (messages.success)
					if (messages.success.length > 1)
						ul(class = "messages success")
							each val in messages.success
								li(class="message success")= val
					else
							p(class="message success")= messages.success
				if (messages.info)
					if (messages.info.length > 1)
						ul(class = "messages info")
							each val in messages.info
								li(class="message info")= val
					else
						p(class="message info")= messages.info
				if (messages.error)
					if (messages.error.length > 1)
						ul(class = "messages error")
							each val in messages.error
								li(class="message error")= val
					else
							p(class="message error")= messages.error
		block content
			#content
		block sidebar
			#sidebar
				p Default sidebar content
		block footer
			#footer(class="clearfix")
				p Footer content
